/*stylesheet.css für Aufgabe 5*/

ul {list-style-type: none;     /* Nummerierung bzw. hier Punkte werden nicht angezeigt*/
background-color: rgb(0, 0, 0);
overflow: hidden;}  /* Overflow hidden bewirkt, dass der Überlauf abgeschnitten wird und der Rest des Inhalts unsichtbar wird*/

li {float: left;  /* Element ordent sich links an, nachfolgende Element stehen rechts daneben*/
display: block;   /* ganzes Element verhält sich wie ein Blockelement (nimmt volle Breite ein)*/
color: rgb(255, 255, 255);
padding: 20px;   /*Innen-Abstand von jedem Listenelement*/
margin-left: 50px;  /*Außenabstand  von jedem Listenelement*/
margin-right: 50px;
font-size: 2em}

h1 {text-align: center}

header {width: 100%}

body {background-color: #b4b4b4;
float: left}

main {width: 50%;
display: block;
margin-left: 25%;
margin-right: 25%;
float: left;
position: relative;
z-index: 5}


aside {width: 23%;
position: absolute;
display: block;
}

p {font-size: 1,5em;
color: #003366;
font-family: Arial, Helvetica, sans-serif;
}

section {background-color: #ffffcc;
width: 30%;
float: left;
margin-left: 1%;
margin-right: 1%;
margin-bottom: 1%;
margin-top: 1%}

img {height: 125px;
width: 85%;
border-width: 5px;
border-style: solid;
border-color: #000000;
border-radius: 5px;
margin-left: 5%}


h2 {margin-left: 5%;
margin-top: 5%}

article {background-color: #ffcc99;
width: 85%;
margin-left: 5%;
margin-bottom: 5%;
margin-top: 1%}

.Asideleft {clear: left;}
.Asideleft aside:hover {width: 50%;
z-index: 10;
background-color: #b4b4b4}

.Asideright {margin-left: 75%}


footer {clear: left;
width: 100%}